[options]
addons_path = /mnt/extra-addons,
              /mnt/external-addons,
              /mnt/external-addons/account-analytic,
              /mnt/external-addons/account-budgeting,
              /mnt/external-addons/account-financial-reporting,
              /mnt/external-addons/account-financial-tools,
              /mnt/external-addons/account-invoicing,
              /mnt/external-addons/account-payment,
              /mnt/external-addons/account-reconcile,
              /mnt/external-addons/reporting-engine,
              /mnt/external-addons/server-ux,
              /mnt/external-addons/mis-builder,
              /mnt/external-addons/triton-odoo,
              /mnt/custom-addons

admin_passwd = {{ odoo_admin_passwd }}

db_host = postgres
db_port = 5432
db_name = {{ postgres_db }}
dbfilter = ^{{ postgres_db }}$
db_user = {{ postgres_user }}
db_password = {{ postgres_password }}

http_port = 8069
longpolling_port = 8072

; Production settings
proxy_mode = True
workers = {{ odoo_workers | default(4) }}
max_cron_threads = 2

; Security - disable DB manager from public
list_db = False

; Performance tuning
limit_memory_hard = 2684354560
limit_memory_soft = 2147483648
limit_time_cpu = 600
limit_time_real = 1200
limit_request = 8192

; Logging
logfile = /var/log/odoo/odoo.log
log_level = info
